appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
decorator==4.4.0
Flask==1.1.1
idna==2.8
ipdb==0.12
ipython==7.4.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==7.0.0
parso==0.4.0
pbr==5.1.3
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.9.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.3.1
pyobjc-framework-AdSupport==5.2
pyobjc-framework-BusinessChat==5.2
pyobjc-framework-ColorSync==5.2
pyobjc-framework-CoreML==5.2
pyobjc-framework-CoreSpotlight==5.2
pyobjc-framework-ExternalAccessory==5.2
pyobjc-framework-NaturalLanguage==5.2
pyobjc-framework-Network==5.2
pyobjc-framework-UserNotifications==5.2
pyobjc-framework-VideoSubscriberAccount==5.2
pyobjc-framework-Vision==5.2
pytest==4.4.1
requests==2.22.0
soupsieve==1.9.4
stevedore==1.30.1
termcolor==1.1.0
traitlets==4.3.2
urllib3==1.25.6
uWSGI==2.0.18
virtualenv==16.4.3
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
wcwidth==0.1.7
Werkzeug==0.16.0
